img{
height: 100px;
}
body{
     
    background-color: #ca59c5;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
iframe {
    width: 960px;
    height: 540px;
    margin-top: 30px;
    border: none;
     border-radius: 20px;
}
a{
    color: #f5f3f4;
    font-size: 20px;
}
.hi{
    display: flex;
    flex-direction: column;
    align-items: center;
}
*{
   align-items: center;
}